<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  
      <div class="jumbotron" ><h1 id="h">PAYMENTS</h1></div>
      <div class="container-fluid"><p id="helppara">Milkmist.com is an online milk product delivery app.Being a subscription based e grocery app,Milmist.com has already garned the love of 200000+ happy customers across India.
        Ship anything you want-starting from farm fresh milk to dairy products to Icecream & Lassi,Yogurt,juices,to other essentials-everything at once.
        Choose from 1000+ products,enjoy a hassle-free, convenient, easy shopping experience. If savings is your priority, Milkmist.com is the place to be - flash sales,reasonable pricing, easy subscription, 5-8:00AM delivery, free delivery at MRP makes for a budget-friendly, delightful shopping experience.
    </p><hr>
    <p id="helppara">Do you generally forget to stock up on groceries & other daily essentials? Or searching "milk delivery near me" on Google is keeping you busy?If your is ,'YES', Milkmist.com is just the right app for you.
    Place your order, buy your milk online,&We take care of the rest. Milkmist.com is the smartest way of getting your fresh milk. It is practically a boon to people looking for milk home delivery, who isn't finding farm fresh milk in the local stores, who is having a tough time searching for organic milk online. 
    Why only milk, buy your butter online, cheese online r any other dairy or daily essentials online with just a simple click, have all of them delivered along with your milk.
    Furthermore, you can even buy your organic dairy products like organic paneer, organic ghee, everything that's on your mind.</p> 
    </div>
   
    <div class="loginPopup">
      <div class="formPopup" id="popupForm">
        <form action="/a"  method="POST" class="formContainer">
          <h2>Please Log in</h2>
          <label for="email">
            <strong>E-mail</strong>
          </label>
          <input type="text" id="username" placeholder="uesrname" name="username" class="input-field"required>
          <label for="psw">
            <strong>Password</strong>
          </label>
          <input type="password" id="psw" placeholder="Password" name="password" class="input-field"required>
          <button type="submit" class="btn">Log in</button>
          <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
      </div>
    </div>
  </body>
</html>
